
JWT_SECRET=b3f8c1d2e4a5069718293a4b5c6d7e8f9a0b1c2d3e4f5a6b7c8d9e0f1a2b3c4
USE_LOCAL_AGENT=true
ASSISTANT_NAME=CNP_Bot
HOST=0.0.0.0
ANTHROPIC_BASE_URL=https://api.minimaxi.com/anthropic
ANTHROPIC_DEFAULT_SONNET_MODEL=MiniMax-M2.5
ANTHROPIC_MODEL=MiniMax-M2.5
ANTHROPIC_DEFAULT_OPUS_MODEL=MiniMax-M2.5
ANTHROPIC_AUTH_TOKEN=sk-cp-iKvYj8lBVX5aP7m8pGrnoY8LjdVpq9pnTCu9Va9o3LXuZqLmVIo8N_wrrBF7rwVyjz11hTap1rf-EpJE5ka1pyF9biVXqVWheXUa_-_TJk9gwld_9-i36dI
ANTHROPIC_DEFAULT_HAIKU_MODEL=MiniMax-M2.5
ANTHROPIC_SMALL_FAST_MODEL=MiniMax-M2.5
JUMPSERVER_HOST=10.245.16.32
JUMPSERVER_PORT=2222
JUMPSERVER_USER=cnp-bot
JUMPSERVER_PASS=123456
JUMPSERVER_DEBUG=0
