JWT_SECRET=b3f8c1d2e4a5069718293a4b5c6d7e8f9a0b1c2d3e4f5a6b7c8d9e0f1a2b3c4
USE_LOCAL_AGENT=true
ASSISTANT_NAME=CNP_Bot
HOST=0.0.0.0
ANTHROPIC_BASE_URL=https://llmproxy.gwm.cn
ANTHROPIC_DEFAULT_SONNET_MODEL=default/minimax-m2-5
ANTHROPIC_MODEL=default/minimax-m2-5
ANTHROPIC_DEFAULT_OPUS_MODEL=default/minimax-m2-5
ANTHROPIC_AUTH_TOKEN=KgV3+YihPHBdbQ0Bz5XIZGwESRMIoamUd91kuggRebGjnUyq/jz1DzELNyGJP8uwetrF18nBZZOI
ANTHROPIC_DEFAULT_HAIKU_MODEL=default/minimax-m2-5
ANTHROPIC_SMALL_FAST_MODEL=default/minimax-m2-5
JUMPSERVER_HOST=10.245.16.32
JUMPSERVER_PORT=2222
JUMPSERVER_USER=cnp-bot
JUMPSERVER_PASS=123456